.todo-form {
    display: flex;
    justify-content: center;
}

.todo-form-content {
    display: flex;
    width: 400px;
    height: 40px;
    gap: .3rem;
}

.todo-input {
    flex-grow: 1;
    padding: 0 16px;
    font-size: 16px;
}

.todo-input:focus {
    border-color: black;
}

.todo-list-item-add {
    border-radius: 2px;
    padding: 0 16px;
    font-size: 16px;
    background-color: rgb(69, 142, 247, 255);
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.todo-list-item-add:hover {
    background-color: rgba(54, 114, 203, 255)
}