.todo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: auto;
    /* cursor: pointer; */
}

.todo-input,
.todo-list-item-add {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 0;
    /* -webkit-appearance: none; */
}

.todo-input {
    border: 1px solid lightgray;
    margin-right: 4px;
}

.todo-list-item-add {
    background-color: rgba(69,142,247,255);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    /**
     * If the input field has a border,
     * you need it here too to achieve equal heights.
     */
    border: 1px solid transparent;
}

/**
 * Firefox Fix
 * Without that the todo-list-item-add button will be too high.
 */
.todo-list-item-add::-moz-focus-inner { 
    border: 0;
}